body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.fade-in {
  animation: fadeIn 5s;
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: nowrap;
  align-items: center;
}

.image-row {
  /* background-color: #6059B2; */
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img-logo {
  /* background-color: #2071B2;  */
  max-width: 100%;
  height: auto;
}

.img-social {
  /* background-color: #317562;  */
  max-width: 100%;
  height: auto;
}

a {
  /* background-color: #606060;  */
  display: flex;
}


h1 {
  color: white;
}

p {
  /* background-color: #007DB2; */
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  h1 {
    color: white;
    font-size: 16px;
    line-height: 80%;
  }

  p {
    font-size: 12px;
    text-align: center;
    color: white;
  }
}