body {
  font-family: monaco,Consolas,Lucida Console,monospace;
  background-color:black;
}

.content {
  position: relative;
}

@media screen and (max-width: 600px) {
  div.contact_desktop {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  div.contact_mobile {
    display: none;
  }
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}
