
body {
  font-family: monaco,Consolas,Lucida Console,monospace;
  background-color:black;
}

.fade-in {
  animation: fadeIn 5s;
}

.image-row {
  display: flex;
  margin: auto;
  width: 30%;
  align-items: center;
  justify-content: center;
  /* background-color: #007DB2; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img {
  margin: auto;
  display: block;
/*  background-color: #007DB2;*/
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}
