html, 
body {
    height: 100%;
}

body {
  font-family:poppins-regular, sans-serif;
  background-color: black;  
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.container-logo-video {
  position: relative;
  /* background-color: #6059B2; */
  height: 60%;
  width: 100%;
}

image-row {
  /* background-color: #6059B2; */
  display: flex;
  flex-direction: row;
  width: 18%;
  gap: 1.5em;
  justify-content: center;
  animation: fadeIn-delay 10s
}

top-nav-bar {
  font-family: poppins-light;
  top: 0;
  height: 60px;
  width: 100%;
  gap: 3em;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

bottom-nav-bar{
  display: none;
  position: fixed;
  color: white;
  font-family: poppins-light;
  bottom: 0;
  height: 65px;
  width: 100%;
  gap: 2em;
  display: flex;
  align-items: center;
  background: #3c3c3c;
  justify-content: center;
}

.link-style {
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}
/* 
.anchor-bottom-nav {

  background-color: #3c3c3c;
  border: 2px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  /* color: white; padding: 5px 11px; border: 2px solid #5a827f; border-radius: 30%; */
} */

a:hover, a:active {
  color: #02c166;
}


.img-logo {
  /* background-color: #2071B2; */
  position: absolute;
  top: 1%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  transform-origin: center top;
  animation: fadeOut 3s forwards; 
}

iframe {
  display: block;
  position: relative;
  left:0;
  right:0;
  width:100%; 
  height:100%;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn-delay 10s;
}

.img-social {
  /* background-color: #317562;  */
  width: 100%;
  max-width: 90px;
}

h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  margin-top: 0;
  color: white;
}

h3 {
  color: white;
  /* line-height: 30%; */
}

p {
  /* background-color: #007DB2; */
  color: white;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

.link-style-current {
  color: #dbc00e;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.top-img-icon {
  display: none;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}
/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn-delay {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.15);
  }
}

@keyframes scaleAndTranslate {
  0% {
    transform: translateX(0%) scale(1);
  }
  25% {
      transform: translateX(-20%) scale(0.75);
  }
  50% {
      transform: translateX(-30%) scale(0.5);
  }
  75% {
    transform: translateX(-40%) scale(0.25);
  }
  100% {
      transform:  translate(-50%) scale(0.15);
  }
}

/* @keyframes scaleAndTranslateUp {
  0% {
    transform: translateY(0%) scale(1);
  }
  25% {
      transform: translateY(-10%) scale(0.75);
  }
  50% {
      transform: translateY(-20%) scale(0.5);
  }
  100% {
    transform: translateY(-30%) scale(0.25);
  }
} */

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  25% {
      transform: scale(0.75);
  }
  50% {
      transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SCREEN SIZES */

/*DESKTOP*/
@media only screen and (min-width: 768px) {
  bottom-nav-bar {
    display: none;
  }
}

/*PHONES*/
@media screen and (max-width: 600px) {
  h1 {
    color: white;
    font-size: 24px;
    /* line-height: 80%; */
  }

  h2 {
    color: white;
    font-size: 16px;
    /* line-height: 80%; */
  }

  p {
    font-size: 12px;
    color: white;
  }

  top-nav-bar{
    display: none;
  }

  .top-img-icon {
    display: inline;
    margin: 0;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  bottom-nav-bar{
    display: flex;
    gap: 2em;
  }

  .container-logo-video {
    position: relative;
    /* background-color: #6059B2; */
    height: 25%;
    width: 100%;
  }
  /* iframe {
    height: 180px;
  } */

  image-row {
    width:60%;
  }

  .img-logo {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  image-row {
    width:50%;
  }

}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  /* your CSS to target only landscape mobile users */
    image-row {
      width: 30%;
    }

    /* iframe {
      height: 300px;
    } */
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  